extends layout

block content

    div.carta
        img(src=`/images/${unita.Unit}.png`)
        h2 Nome: #{unita.Unit}
        h2 Cost: #{unita.Cost}
        h2 Speed: #{unita.Speed}
        h2 Hit Speed: #{unita.Hit_Speed}
        h2 Count: #{unita.Count}
        h2 Range: #{unita.Range}
        h2 Transport: #{unita.Transport}
        h2 Type: #{unita.Type}
        h2 Rarity: #{unita.Rarity}
    