extends layout

block content

    div.carta
        
        img.dettaglio(src=`/images/${unita.Unit}.png` onerror="this.style.display='none'")
        img.dettaglio(src=`${unita.imageUrl}` onerror="this.style.display='none'")
        h2.dettagli Nome: #{unita.Unit}
        h2.dettagli Cost: #{unita.Cost}
        h2.dettagli Speed: #{unita.Speed}
        h2.dettagli Hit Speed: #{unita.Hit_Speed}
        h2.dettagli Count: #{unita.Count}
        h2.dettagli Range: #{unita.Range}
        h2.dettagli Transport: #{unita.Transport}
        h2.dettagli Type: #{unita.Type}
        h2.dettagli Rarity: #{unita.Rarity}
        div.form
        form(method='POST' action='/users/eliminato')
            div
            
            
            button.elimina(type='submit' value=`${unita.Unit}` name='Unit') ELIMINA
        