extends layout

block content
    .container-unita
        each personaggio in unita
            a(href=`search/${personaggio.Unit}`)
                div.pallone(class=`${personaggio.Rarity}`)
                    img.elenco(src=`/images/${personaggio.Unit}.png` onerror="this.style.display='none'")
                    img.elenco(src=`${personaggio.imageUrl}` onerror="this.style.display='none'")
                h1(class=`${personaggio.Rarity}`) #{personaggio.Unit}   
            